<lasso-page package-path="./browser.json" />

<layout-use template="../../layouts/default/template.marko" html-class-name="bg-img-01">
    <layout-put into="title" value="Home"/>
    <layout-put into="body">
        <div>
            <h2>Weather Forecast</h2>

            <async-fragment data-provider="data.weatherDataProvider" var="weatherData">
                <app weather-data="weatherData"/>
            </async-fragment>
        </div>

    </layout-put>
</layout-use>
