<footer id="footer">
    Powered by <a href="https://github.com/raptorjs/">RaptorJS</a> | Weather data from <a href="http://openweathermap.org/">OpenWeatherMap</a> | Background image by <a href="https://www.flickr.com/people/theaucitron/">theaucitron</a>
</footer>