<form class="find form-inline" role="form" w-bind>
    <div class="form-group">
        <label class="sr-only" for="${widget.elId('query')}">City or Zip</label>
        <input type="text" class="form-control" name="q" w-id="query" placeholder="Zip or City">
    </div>
    <sample-button type="submit" label="Go" id="go" variant="primary"/>
</form>